html {
  @extend .pnl;
  @extend .hw100;

  font-family: $font-stack;
  font-size: $font-size;
  color: $dark1;
}

body {
  @extend .hw100;
  @extend .no-bmp;
  @extend .pnl;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

blockquote,
dd,
dl,
fieldset,
form,
ol,
ol ol,
ol ul,
p,
ul,
ul ol,
ul ul {
  @extend .box;
  margin: 0;
}

fieldset,
form {
  @extend .no-bmp;
}

h1, h2, h3, h4, h5 {
  @extend .box;
  font-weight: normal;
  padding: 0;
  margin: 5px 0;
}

p {
  font-size: $font-size;
  text-align: left;
}

a, a:visited {
  color: darken($theme-color, 5%);
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;

  &:hover,
  &:focus,
  &:active {
    color: $theme-color;
  }

  &.white {
    color: #fff;
  }
}

input[type=email],
input[type=number],
input[type=password],
input[type=phone],
input[type=tel],
input[type=text],
textarea {
  @extend .box;
  background-color: rgb(254, 254, 254);
  border-radius: $border-radius-md;
  border: 1px solid $border-color;
  color: $dark1;
  font-family: $font-stack;
  font-size: $font-size;
  outline: none;
  padding: $pad-sm;

  &.input-dark,
  &.input-dark:read-only {
    background-color: $dark4;
    color: $gray7;
    border-color: $dark6;

    &:focus {
      background-color: $dark4;
      color: #fff;
      border-color: $dark6;
      box-shadow: none;
    }
  }

  &:not(:last-child) {
    margin-right: $pad-xs-right;
  }

  &:focus {
    background-color: #fff;
    border-color: $theme-color;
    box-shadow: 0px 0px 5px 0px rgba(67, 146, 241, 0.60);

    &+ .btn-input,
    &+ .menu-toggle {
      border-color: $theme-color;
      border-color: $theme-color;
      box-shadow: 0px 0px 5px 0px rgba(67, 146, 241, 0.60);

      &:disabled,
      &.disabled {
        opacity: 1;
        &:not(.opacity-100) {
          background-color: rgba($gray4, 0.7);
          border-color: $theme-color;
          color: rgba($font-dark, 0.7);
        }

        &.opacity-100 {
          background-color: #fff;
          border-color: $theme-color;
          color: $font-dark;
        }
      }
    }
  }

  &:read-only,
  &:disabled,
  &.disabled {
    background-color: darken($gray1, 3%);
  }

  &::placeholder {
    color: $dark8;
  }

  &.btn-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: $font-size + $pad-sm-top * 2 + 4px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select,
option {
  @extend .box;
  background-color: #fff;
  border-radius: $border-radius-md;
  border: 1px solid $border-color;
  color: $dark1;
  cursor: pointer;
  font-family: $font-stack;
  font-size: $font-size;
  outline: none;
  padding: $pad-sm-left - 1px;
  padding-top: $pad-sm-left;

  &:focus {
    background-color: #fff;
    border-color: $theme-color;
  }

  &:disabled {
    background-color: darken($gray1, 3%);
  }
}

textarea {
  font-family: $font-stack;
  resize: vertical;
}

ul, ol, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

i.fa-cc-stripe {
  color: #6772e5;
}

.app-nav i.fa-cc-stripe {
  color: inherit;
}

::selection {
  background: $theme-blue;
  color: #fff;
}

::-moz-selection {
  background: $theme-blue;
  color: #fff;
}

table, th, td {
  border: 1px solid $gray5;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: $border-radius-md;
  overflow: hidden;
  
  thead {
    display: block;
    box-sizing: border-box;
    background-color: $gray3;
    border-top-left-radius: $border-radius-md;
    border-top-right-radius: $border-radius-md;

    tr {
      display: block;
      box-sizing: border-box;
      border-top-left-radius: $border-radius-md;
      border-top-right-radius: $border-radius-md;

      th:first-child {
        border-top-left-radius: $border-radius-md;
      }
  
      th:last-child {
        border-top-right-radius: $border-radius-md;
      }
    }
  }

  th, td {
    padding: $pad-sm;
    input[type=checkbox] {
      width: 14px;
      height: 14px;
    }
  }

  tbody {
    width: 100%;
    display: block;
  }

  tr:first-child, tr:first-child td {
    border-top-width: 0;
  }
}


table.scrollable {
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: $border-radius-md;
  overflow: hidden;
  
  thead {
    display: block;
    box-sizing: border-box;
    background-color: $gray3;
    border-top-left-radius: $border-radius-md;
    border-top-right-radius: $border-radius-md;

    tr {
      display: block;
      box-sizing: border-box;
      border-top-left-radius: $border-radius-md;
      border-top-right-radius: $border-radius-md;

      th:first-child {
        border-top-left-radius: $border-radius-md;
      }
  
      th:last-child {
        border-top-right-radius: $border-radius-md;
      }
    }
  }

  th, td {
    font-size: $font-size - 1px;
    padding: $pad-sm;
    
    input[type=checkbox] {
      width: 14px;
      height: 14px;
    }
  }

  tbody {
    width: 100%;
    display: block;
    overflow: auto;
  }

  tr:first-child, tr:first-child td {
    border-top-width: 0;
  }
}
